[Unit]
Description=kiln-controller
StartLimitIntervalSec=0

[Service]
ExecStart=/home/distract/kiln-controller/venv/bin/python /home/distract/kiln-controller/kiln-controller.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
